.cartscreen {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  gap: 1.5rem;
  padding: 1rem;
}

.cartscreen h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #264653;
}

.cartscreen__left {
  flex: 0.7;
  padding: 1.5rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a card effect */
}

.cartscreen__right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: fit-content;
  padding: 1.5rem;
}

.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.2rem 0;
}

.cartscreen__info p {
  padding: 10px 0;
  font-size: 1rem;
}

.cartscreen__info p:first-child {
  font-weight: bold;
  color: #1d3557;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__right div button {
  padding: 12px 20px;
  width: 100%;
  background-color: #457b9d;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cartscreen__right div button:hover {
  background-color: #1d3557;
  transform: scale(1.05);
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 1000px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 900px;
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem auto;
    width: 100%;
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  .cartscreen {
    max-width: 100%;
    padding: 0.5rem;
  }

  .cartscreen__left {
    padding: 1rem;
  }

  .cartscreen__right {
    padding: 1rem;
  }

  .cartscreen__right div button {
    padding: 10px 15px;
    font-size: 1rem;
  }
}
